<?xml version="1.0"?>
<config>
    <modules>
        <Ecommsolutions_Maghook>
            <version>1.0.0</version>
        </Ecommsolutions_Maghook>
    </modules>
    <global>
        <models>
            <maghook>
                <class>Ecommsolutions_Maghook_Model</class>
            </maghook>
        </models>
		<helpers>
            <maghook>
                <class>Ecommsolutions_Maghook_Helper</class>
            </maghook>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <post_order>
                        <class>maghook/observer</class>
                        <method>postOrder</method>
                    </post_order>
                </observers>
            </sales_order_save_after>
			<customer_register_success>
				<observers>
                    <post_user_creation>
                        <class>maghook/observer</class>
                        <method>postUserCreation</method>
                    </post_user_creation>
                </observers>
			</customer_register_success>
			<checkout_cart_save_after>
				<observers>
					 <cart_save>
                        <class>maghook/observer</class>
                        <method>cartSave</method>
                    </cart_save>
				</observers>
			</checkout_cart_save_after>
			<sales_order_shipment_save_after>
                <observers>
                    <save_shipping>
                        <class>maghook/observer</class>
                        <method>saveShipping</method>
                    </save_shipping>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ecommsolutions>
											<title>ECommSolutions</title>
										</ecommsolutions>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>